body {
    background-color: black;
}
p{
    color: white;
    word-wrap: break-word;  
    text-align: center;
}
h1{
    color: white;
    font-size: 50px;
    /*display: inline-block;*/
    /*position: relative;*/ 
    text-align: center;
    
}
#main-body{
    display: table;
    width: 100%;
    height: 100%;
    background-color: black;
    
}

#player-list{
    width: 45%;
    height: 700px;
    float:left;
    background-color: darkgray;
    margin-left: 4%;
    margin-right:1%;
}

#player-list p{
    color:white;
}

#player-create{
    width:45%;
    height: 700px;
    float: right;
    background-color: darkgray;
    margin-right: 4%;
    margin-left: 1%;
    
      
}

#player-create p{
    color: white;
}

#player-list, #player-create{
    min-height: 210px;
    
    
}


