body {
    background-color: black;
}
p{
    color: white;
    word-wrap: break-word;  
    text-align: center;
}
h1{
    color: white;
    font-size: 50px;
    /*display: inline-block;*/
    /*position: relative;*/ 
    text-align: center;
    
}
#main-body{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: black;
    grid-template-columns: 50% 50%;
}



#player-list-container{
    
    height: 700px;
    float:left;
    background-color: darkgray;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    
}

#player-list-container p{
    color:white;
    align-self: center;
}

#player-create{
    
    height: 700px;
    float: right;
    background-color: darkgray;
    width: 100%;
    align-self: center;
    
      
}

#player-create p{
    color: white;
}

#chem-row{
    text-align: center;
}

#player-list-container, #player-create{
    min-height: 210px;
    
}

#submit-data{
    color: aqua;
}


